@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');

$scissors-gradient: hsl(39, 89%, 49%),hsl(40, 84%, 53%);
$paper-gradient: hsl(230, 89%, 62%),hsl(230, 89%, 65%);
$rock-gradient: hsl(349, 71%, 52%),hsl(349, 70%, 56%);
$izard-gradient: hsl(261, 73%, 60%),hsl(261, 72%, 63%);
$cyan: hsl(189, 59%, 53%),hsl(189, 58%, 57%);
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$radial-gradient: hsl(214, 47%, 23%),hsl(237, 49%, 15%);

$font-stack: 'Barlow Semi Condensed', sans-serif;